body {
  background: url(../img/background/dark-textured-background3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%
}

.home-text {
  float: right;
  max-width: 45%;
}